In [2]:
import numpy as np
import pandas as pd
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan']) 
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [9]:
####  now we will learn about dataframes , series makes a data frame but pandas library has dataframes to offer.
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index=("AA BB CC DD EE".split()),columns=("Mon Tue Wed Thur ".split()))

In [10]:
df

         Mon       Tue       Wed      Thur
AA  2.706850  0.628133  0.907969  0.503826
BB  0.651118 -0.319318 -0.848077  0.605965
CC -2.018168  0.740122  0.528813 -0.589001
DD  0.188695 -0.758872 -0.933237  0.955057
EE  0.190794  1.978757  2.605967  0.683509

In [17]:
df['Wed']   ##FOR COLUMN

AA    0.907969
BB   -0.848077
CC    0.528813
DD   -0.933237
EE    2.605967
Name: Wed, dtype: float64

In [18]:
df.loc['AA']  ## for rows

Mon     2.706850
Tue     0.628133
Wed     0.907969
Thur    0.503826
Name: AA, dtype: float64

In [19]:
df['Fri'] = (df['Tue']* df['Thur'])/df['Mon']

In [20]:
df

         Mon       Tue       Wed      Thur       Fri
AA  2.706850  0.628133  0.907969  0.503826  0.116914
BB  0.651118 -0.319318 -0.848077  0.605965 -0.297175
CC -2.018168  0.740122  0.528813 -0.589001  0.216004
DD  0.188695 -0.758872 -0.933237  0.955057 -3.840931
EE  0.190794  1.978757  2.605967  0.683509  7.088776

In [21]:
###  conditiionals 
df[df['Fri'] >0]

         Mon       Tue       Wed      Thur       Fri
AA  2.706850  0.628133  0.907969  0.503826  0.116914
CC -2.018168  0.740122  0.528813 -0.589001  0.216004
EE  0.190794  1.978757  2.605967  0.683509  7.088776

In [25]:
### now above df but only two columns, mon and tuesday
df[df['Fri']>0][['Mon','Tue']]  # note that you need double braces for such columns

         Mon       Tue
AA  2.706850  0.628133
CC -2.018168  0.740122
EE  0.190794  1.978757

In [30]:
### use &  or use pipe operator 
df[ (df['Fri']<0) & (df['Mon']>0) ][['Thur','Tue']]  ## good pratice for df

        Thur       Tue
BB  0.605965 -0.319318
DD  0.955057 -0.758872